// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';


///topography
body{
  color: $fontcolor;
  section.name-photo{
    text-align: center;
  }
  h1{
    font-size: 2em;
    font-weight: bold;
  }
  h2{
    font-style: italic;
    font-weight: 300;
    }
  h3{
    font-weight: 900;
    font-size: 1.1em;
  }
  p{
    font-size: 1.1em;
    font-weight:300;
  }
}

//card
.card{
  padding: 1rem;
  margin:1rem;
  border: 1rem solid $darkgrey;
}
@include media-query(tab){
  .card{
    padding: 2rem;
    margin:1rem;
    border: 2rem solid $darkgrey;
  }
}

//First Column - photo and name
.name-photo{
  margin-top:2rem;
  img{
    border-radius: 50%;
    min-width:180px;
  }
  h2{
  margin:1rem 0;
  }
}
@include media-query(tab){
  .name-photo img{
    width: 100%;
  }
}


// 2nd column - info section
.info{
  background-color: $lightgrey;
  padding: 2rem;
  div{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
  div img, h3{
    padding-right: 8px;
  }
  h3, p{
    margin-top:0.5rem;
    margin-bottom:0.5rem;
  }
}

@include media-query(tab){
  .info{
    margin:2rem;
    div{
      flex-wrap: nowrap;
    }
  }
}
